@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  @apply underline-offset-4 decoration-neutral-300 hover:underline hover:decoration-neutral-500;
}
